@font-face {
  font-family: "Lato";
  src: local("Lato"), url(./assets/fonts/Lato-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: local("Lato"), url(./assets/fonts/Lato-Bold.ttf) format("opentype");
}

#root {
  height: 100%;
}